/* src/components/Header.css */

.navbar {
  background-color: rgba(255, 255, 255, 0.2) !important; /* 배경만 반투명 */
  backdrop-filter: blur(6px); /* 💫 블러 처리 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #333 !important;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #0a58ca !important;
}

.navbar-brand img {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
}

.navbar .nav-link {
  font-size: 1.3rem;   /* 또는 1.2rem 더 키우고 싶으면 */
  font-weight: 500;
  transition: color 0.2s ease;
}
